[server]
name = {{ server_name }}
path = /home/{{ site_user }}/backup/

modules =
    backup
    backup.file
    backup.mysql

[cloud]
login = {{ backup_login }}
password = {{ backup_password }}
ftp = {{ ftp_server }}
dir = /{{ server_name }}/
days = 4


[mysql]
host = 127.0.0.1
password = 
user = 
database = {{ wp_db_name }}


[file]
exclude = /cache/

dir =
    /srv/wordpress/
