----
-- /etc/lsyncd-{{ inventory_hostname }}.conf
-- {{ ansible_managed }}
-- 
-- For more examples, see /usr/share/doc/lsyncd*/examples/
-- 


-- settings 
-- logfile        - log into this file
-- statusFile     - periodically writes a status report to this file
-- statusInterval - writes the status file at shortest after this number of seconds has passed
-- inotifyMode    - Modify|CloseWrite 
-- maxProcesses   - Lysncd will not spawn more than these number of processes.
settings {
  logfile         = "/var/log/lsyncd/daemon-{{ inventory_hostname }}.log",
  statusFile      = "/var/log/lsyncd/daemon-{{ inventory_hostname }}.status",
  statusInterval  = 20,
  inotifyMode     = "CloseWrite",
  maxProcesses    = 1,
  insist          = true,
}

-- sync options for sites

-- Settings start
sync {
  default.rsyncssh,
  host        = "{{ target }}",
  source      = "{{ DocumentRoot }}/",
  targetdir   = "{{ DocumentRoot }}/",
  exclude   = {
    "*.log",
  },
  rsync  = {
    archive     = true,
    compress    = true,
    owner       = true,
    perms       = true,
    update      = true,
    temp_dir    = "/tmp",
  },
  delay = 5,
  maxProcesses = 1,
}
-- Settings end
