[Unit]
Description=Live Syncing (Mirror) Daemon for {{ inventory_hostname }}
After=network.target

[Service]
Type=simple
Nice=19
EnvironmentFile=-/etc/sysconfig/lsyncd-{{ inventory_hostname }}
PIDFile=/var/run/{{ inventory_hostname }}.pid
ExecStart=/usr/bin/lsyncd -nodaemon $LSYNCD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
User={{ site_user }}
Group={{ site_user }}

[Install]
WantedBy=multi-user.target
