
module proftpdse 1.0;

require {
        type ftpd_t;
        type sysctl_net_t;
        class dir search;
        class file read;
}

#============= ftpd_t ==============
allow ftpd_t sysctl_net_t:dir search;
allow ftpd_t sysctl_net_t:file read;
